.name {
  margin-top: 100px;
  font-family: AkzidenzGrotesk;
  text-align: center;
  font-size: 100px;
  opacity: 50px;
}

.social {
  text-align: center;
  -moz-transform:scale(3);
  -webkit-transform:scale(3);
  transform:scale(3);
}

.picture {

}

.social a:hover {
    background-color: red;
}